<!DOCTYPE html>
<html lang="en">
<head>
  <title>Future Prediction</title>
  <meta charset="utf-8">
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densityDpi=device-dpi" />
  <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  th, td {
  padding-right: 40px; 
  color: white;
}

    .container-fluid{
      background-color: #8FDDE7;
    }
    .well{
      background-color: #28282B;
    }
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {
      height: 750px

    }
    
    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #28282B;
      height: 100%;
    }
        
    /* On small screens, set height to 'auto' for the grid */
    @media screen and (max-width: 767px) {
      .row.content {height: auto;} 
    }
  </style>
</head>
<body>
<nav class="navbar navbar-inverse visible-xs">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <h2>Rainfall Prediction</h2>
    </div>
    <br>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="home">Home</a></li>
        <li><a href="future">Future Prediction</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav hidden-xs">
      <h2 style="color:#8FDDE7;">Rainfall Prediction</h2>
      <br><br>
      <ul class="nav nav-pills nav-stacked">
        <li><a href="home">Home</a></li>
        <li><a href="future">Future Prediction</a></li>
      </ul><br>
    </div>
    <div class="col-sm-9">
      <div class="well">
        <h1 style="text-align: center; color: white;">Future Prediction of {{ divi }}</h1>
      </div>
    </div>

    <div class="col-sm-2">
      <div class="well">

          <table>
            <tr>
                <th><h5>Month</h5></th>
                <th><h5>Rainfall</h5></th>
            </tr>
            {% for i in range(fsdiv.shape[0]) %}
                <tr>
                    <td><h6>{{ fsdiv.iloc[i][0] }}</h6></td>
                    <td><h6>{{ fsdiv.iloc[i][1] }}</h6></td>
                </tr>
            {% endfor %}
        </table>

      </div>
    </div>

    <div class="col-sm-7">
      <div class="well">
        <img src="/static/trial.png">      
      </div>
    </div>

    <div class="col-sm-3">
      <div class="well">
        <h4 style="color: white; text-align: center;"> Danger Alert </h4>
        {% if maxdiv > 30000 %}
        <h4 style="color: white; text-align: center;"> Flood </h4>
        {% elif maxdiv < 3000 and maxdiv > 100 %}
        <h4 style="color: white; text-align: center;"> Normal </h4>
        {% elif maxdiv < 100 %}
        <h4 style="color: white; text-align: center;"> Drought </h4>
        {% else %}
        <h4 style="color: white; text-align: center;"> INVALID </h4>
        {% endif %}

      </div>
    </div>

        <div class="col-sm-2">
      <div class="well" style="color: white; text-align: center;">
        <h4 style="color: white; text-align: center;"> Maximum </h4>
        <h5>{{maxdiv}} mm</h5>
      </div>
    </div>

        <div class="col-sm-2">
      <div class="well" style="color: white; text-align: center;">
        <h4 style="color: white; text-align: center;"> Average </h4>
        <h5>{{averagediv}} mm</h5>
      </div>
    </div>

        <div class="col-sm-2">
      <div class="well" style="color: white; text-align: center;">
        <h4 style="color: white; text-align: center;"> Minimum </h4>
        <h5>{{mindiv}} mm</h5>
      </div>
    </div>

    </div>
  </div>

</body>
</html>